@import 'tailwindcss';

@theme {
    --color-primary: oklch(0.61 0.2 262.97 / 1);
    --color-primary-subdued: oklch(0.98 0.01 273.36 / 1);
    --color-primary-hover: oklch(0.5 0.16 262.98 / 1);
    --color-primary-disabled: oklch(0.87 0.06 266.48 / 1);

    --color-success: oklch(0.67 0.21 144.32 / 1);
    --color-success-subdued: oklch(0.97 0.01 158.85 / 1);

    --color-warning: oklch(0.84 0.17 82.93 / 1);
    --color-warning-subdued: oklch(0.99 0.01 87.47 / 1);

    --color-error: oklch(0.64 0.22 26.24 / 1);
    --color-error-subdued: oklch(0.98 0.01 354.79 / 1);

    --color-background: oklch(1 0 0 / 1);
    --color-background-secondary: oklch(0.97 0 0);
    --color-background-tertiary: oklch(0.88 0.0027 286.34);
    --color-background-disabled: oklch(0.93 0 286.35 / 1);

    --color-background-dark: oklch(0.32 0.07 255.4 / 1);
    --color-background-dark-secondary: oklch(0.32 0 0 / 1);
    --color-background-dark-disabled: oklch(0.63 0 286.31 / 1);
}
