@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:is(.dark *));
@plugin '@tailwindcss/typography';

@import '@blocknote/mantine/style.css';

@theme {
    --color-brand: oklch(0.1776 0 0);
    --color-projects: oklch(62% 0.21 257);
    --color-areas: oklch(65% 0.22 145);
    --color-resources: oklch(58% 0.23 275);
    --color-archives: oklch(68% 0.21 75);

    --color-card: oklch(1 0 0);
    --color-background: oklch(1 0 0);
    --color-foreground: oklch(0.145 0 0) --color-card: oklch(1 0 0);
    --color-card-foreground: oklch(0.145 0 0);
    --color-popover: oklch(1 0 0);
    --color-popover-foreground: oklch(0.145 0 0);
    --color-primary: oklch(0.55 0.22 263);
    --color-primary-foreground: oklch(0.985 0 0);
    --color-secondary: oklch(0.97 0 0);
    --color-secondary-foreground: oklch(0.205 0 0);
    --color-muted: oklch(0.97 0 0);
    --color-muted-foreground: oklch(0.85 0 0 / 1);
    --color-accent: oklch(0.97 0 0);
    --color-accent-foreground: oklch(0.205 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-border: oklch(0.922 0 0);
    --color-input: oklch(0.922 0 0);
    --color-ring: oklch(0.708 0 0);
    --color-chart-1: oklch(0.646 0.222 41.116);
    --color-chart-2: oklch(0.6 0.118 184.704);
    --color-chart-3: oklch(0.398 0.07 227.392);
    --color-chart-4: oklch(0.828 0.189 84.429);
    --color-chart-5: oklch(0.769 0.188 70.08);
    --color-sidebar: oklch(0.985 0 0);
    --color-sidebar-foreground: oklch(0.145 0 0);
    --color-sidebar-primary: oklch(0.205 0 0);
    --color-sidebar-primary-foreground: oklch(0.985 0 0);
    --color-sidebar-accent: oklch(100% 0 0);
    --color-sidebar-accent-foreground: oklch(0.205 0 0);
    --color-sidebar-border: oklch(0.922 0 0);
    --color-sidebar-ring: oklch(0.708 0 0);
    --color-text-primary: oklch(0.26 0.03 265.02 / 1);
    --color-text-secondary: oklch(0.45 0.04 257.28 / 1);
    --color-text-tertiary: oklch(0.55 0.04 257.42 / 1);
    --color-text-quaternary: oklch(0.71 0.04 256.79 / 1);
    --color-text-quinary: oklch(0.93 0.01 255.51 / 1);
    --color-text-senary: oklch(0.97 0.01 247.9 / 1);
    --color-text-septenary: oklch(0.98 0 247.86 / 1);
    --color-text-octonary: oklch(0.97 0.01 247.9 / 1);

    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;

    @keyframes accordion-down {
        from {
            height: 0;
        }
        to {
            height: var(--radix-accordion-content-height);
        }
    }

    @keyframes accordion-up {
        from {
            height: var(--radix-accordion-content-height);
        }
        to {
            height: 0;
        }
    }
}

@layer theme {
    .dark {
        --color-brand: oklch(0.9 0 0);
        --color-projects: oklch(75% 0.21 257);
        --color-areas: oklch(78% 0.22 145);
        --color-resources: oklch(72% 0.23 275);
        --color-archives: oklch(80% 0.21 75);

        --color-card: oklch(0.2 0 0 / 1);
        --color-background: oklch(0.145 0 0);
        --color-foreground: oklch(0.145 0 0);
        --color-card-foreground: oklch(0.145 0 0);
        --color-popover: oklch(0.145 0 0);
        --color-popover-foreground: oklch(0.145 0 0);
        --color-primary: oklch(0.145 0 0);
        --color-primary-foreground: oklch(0.145 0 0);
        --color-secondary: oklch(0.269 0 0);
        --color-secondary-foreground: oklch(0.145 0 0);
        --color-muted: oklch(0.269 0 0);
        --color-muted-foreground: oklch(0.708 0 0);
        --color-accent: oklch(0.269 0 0);
        --color-accent-foreground: oklch(0.985 0 0);
        --color-destructive: oklch(0.704 0.191 22.216);
        --color-border: oklch(1 0 0 / 10%);
        --color-input: oklch(1 0 0 / 15%);
        --color-ring: oklch(0.556 0 0);
        --color-chart-1: oklch(0.488 0.243 264.376);
        --color-chart-2: oklch(0.696 0.17 162.48);
        --color-chart-3: oklch(0.769 0.188 70.08);
        --color-chart-4: oklch(0.627 0.265 303.9);
        --color-chart-5: oklch(0.645 0.246 16.439);
        --color-sidebar: oklch(0.205 0 0);
        --color-sidebar-foreground: oklch(0.985 0 0);
        --color-sidebar-primary: oklch(0.488 0.243 264.376);
        --color-sidebar-primary-foreground: oklch(0.985 0 0);
        --color-sidebar-accent: oklch(0.269 0 0);
        --color-sidebar-accent-foreground: oklch(0.985 0 0);
        --color-sidebar-border: oklch(1 0 0 / 10%);
        --color-sidebar-ring: oklch(0.556 0 0);
        --color-text-primary: oklch(0.97 0.01 247.9 / 1);
        --color-text-secondary: oklch(0.93 0.01 255.51 / 1);
        --color-text-tertiary: oklch(0.87 0.02 252.89 / 1);
        --color-text-quaternary: oklch(0.71 0.04 256.79 / 1);
        --color-text-quinary: oklch(0.55 0.04 257.42 / 1);
        --color-text-senary: oklch(0.45 0.04 257.28 / 1);
        --color-text-septenary: oklch(0.26 0.03 265.02 / 1);
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    main {
        @apply bg-background text-foreground min-h-full flex-1;
    }
}

@layer utilities {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #d4d4d8 transparent; /* Tailwind gray-300 */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #d4d4d8; /* Tailwind gray-300 */
        border-radius: 1px;
        border: 1px solid transparent;
        background-clip: content-box;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: #a1a1aa; /* Tailwind gray-400 on hover */
    }
}

@utility rounded-form {
    @apply rounded-[10px];
}

@layer components {
    /* Custom style @blocknote */
    .bn-editor {
        outline: none;
        padding-inline: 0px !important;
    }

    .bn-block-content[data-content-type='heading'] > h1.bn-inline-content {
        --level: 1.5rem !important; /* 24px */
        font-size: var(--level) !important;
    }
    .bn-side-menu[data-block-type='heading'][data-level='1'] {
        height: 42px !important;
    }

    .bn-block-content[data-content-type='heading'] > h2.bn-inline-content {
        --level: 1.25rem !important; /* 20px */
        font-size: var(--level) !important;
    }
    .bn-side-menu[data-block-type='heading'][data-level='2'] {
        height: 36px !important;
    }

    .bn-block-content[data-content-type='heading'] > h3.bn-inline-content {
        --level: 1rem !important; /* 16px */
        font-size: var(--level) !important;
    }
    .bn-side-menu[data-block-type='heading'][data-level='3'] {
        height: 30px !important;
    }
}

@layer components {
    .embla {
        margin: auto;
        --slide-height: 19rem;
        /* --slide-spacing: 1rem; */
        --slide-size: auto;
    }
    .embla__viewport {
        overflow: hidden;
    }
    .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(var(--slide-spacing) * -1);
    }
    .embla__slide {
        transform: translate3d(0, 0, 0);
        flex: 0 0 var(--slide-size);
        min-width: 0;
        /* padding-left: var(--slide-spacing); */
    }
}
